.wrapper {
    position: relative;
    width: 26rem;
    height: 29rem;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 10px;
    backdrop-filter: blur(40px);
    color: #ffff;
    display: flex;
    align-items: center;
    transition: heigh .2s ease;
    overflow: hidden;
}

.wrapper.active {
    height: 38rem;
}

.wrapper .form-box {
    width: 100%;
    padding: 2.5rem;

}

.wrapper.active .form-box.login {
    transition: none;
    translate: -400px;
}

.wrapper .form-box.login {
    transition: translate .18s ease;
    translate: 0;
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    translate: 400px;
}

.wrapper.active .form-box.register {
    transition: translate .18s ease;
    translate: 0;
}

form h1 {
    font-size: 2.2rem;
    text-align: center;
}

form .input-box {
    position: relative;
    width: 100%;
    height: 4rem;
    margin: 1rem;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 40px;
    font-size: 1rem;
    color: #ffff;
    padding: 1.2rem 4rem 1.2rem 1.2rem;
}

.input-box input::placeholder {
    color: #ffff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 1rem;
}

.remember-forgot label {
    display: flex;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    margin: 1rem 0 1rem;
    text-align: center;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 0.2rem;
}

.remember-forgot a {    
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
    color: blue;
    transition: 300ms;
}

form button {
    width: 100%;
    height: 3rem;
    border-radius: 40px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: #333;
    font-weight: 700;
}

form .register-link {
    margin: 1.2rem 0 0.8rem;
    text-align: center;
    color: #fff;
    a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
            color: blue;
            transition: 300ms;
        }
    }

    
}

.error-msg {
    color: red;
    text-align: center;
    margin: 0;
    align-items: center;
}