.wrapper {
  position: relative;
  width: 26rem;
  height: 29rem;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(40px);
  color: #ffff;
  display: flex;
  align-items: center;
  transition: heigh 0.2s ease;
  overflow: hidden;
}

.wrapper.active {
  height: 38rem;
}

.wrapper .form-box {
  width: 100%;
  padding: 2.5rem;
}

.wrapper.active .form-box.login {
  transition: none;
  translate: -400px;
}

.wrapper .form-box.login {
  transition: translate 0.18s ease;
  translate: 0;
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  translate: 400px;
}

.wrapper.active .form-box.register {
  transition: translate 0.18s ease;
  translate: 0;
}

form h1 {
  font-size: 2.2rem;
  text-align: center;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin: 1rem 0 1rem;
  text-align: center;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: blue;
  transition: 300ms;
}
