.Menu-hamburger-wrapper {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  background: black;
  width: 10rem;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}

.Menu-hamburger {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.1);
  width: 10rem;
  border-radius: 10px 10px 0px 0px;
}
